.timetable {
  .btn-area {
    text-align: right;
    padding: 10px 0;
    .output-btn {
      background: linear-gradient(135deg, rgb(255, 87, 32) 0%, rgb(255, 232, 251) 100%) 0px 0px / 100% 100%;
      font-weight: 600;
      color: #ffffff;
    }
    .output-btn:hover {
      background: linear-gradient(135deg, rgb(255, 113, 65) 0%, rgb(255, 215, 248) 100%) 0px 0px / 100% 100%;
    }
  }
  .timetable-area {
    display: flex;
    overflow: auto;
    background-color: #ffffff;
    margin: 15px;
    padding: 0 10px;
    border-radius: 20px;
  }
  .date-area {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    text-decoration: none;
    margin: 0 10px;
    color: #000000;
    z-index: 1;
    text-shadow: #ffffff 3px 0px 0px, #ffffff 2.83487px 0.981584px 0px, #ffffff 2.35766px 1.85511px 0px, #ffffff 1.62091px 2.52441px 0px, #ffffff 0.705713px 2.91581px 0px, #ffffff -0.287171px 2.98622px 0px, #ffffff -1.24844px 2.72789px 0px, #ffffff -2.07227px 2.16926px 0px, #ffffff -2.66798px 1.37182px 0px, #ffffff -2.96998px 0.42336px 0px, #ffffff -2.94502px -0.571704px 0px, #ffffff -2.59586px -1.50383px 0px, #ffffff -1.96093px -2.27041px 0px, #ffffff -1.11013px -2.78704px 0px, #ffffff -0.137119px -2.99686px 0px, #ffffff 0.850987px -2.87677px 0px, #ffffff 1.74541px -2.43999px 0px, #ffffff 2.44769px -1.73459px 0px, #ffffff 2.88051px -0.838247px 0px;
    .fs-sm {
      font-size: 20px;
    }
  }
  @media (max-width: 992px) {
    .date-area {
      font-size: 20px;
    }
  }
  @media (max-width: 500px) {
    .date-area {
      font-size: 15px;
    }
  }
  .target-area {
    text-align: center;
    background-image: url('https://sekigahara-idolwars.net/images/2024/back.png');
    background-size: cover;
    padding-bottom: 10px;
    .timetable-top {
      display: flex;
      background-color: #ffffffa1;
      padding: 0 20px;
      height: 80px;
      text-align: center;
      justify-content: center;
      align-items: center;
      .logo {
        height: 100%;
      }
    }
    @media (max-width: 992px) {
      .timetable-top {
        height: 60px;
      }
    }
    @media (max-width: 500px) {
      .timetable-top {
        height: 40px;
      }
    }
  }
}
.greeting-img {
  width: 100%;
  margin: 10px 0;
}
