.table-base {
  width: 200px;
  height: 100%;
  border-radius: 20px;
  margin: 20px 5px 20px 0;
  position: relative;
}
.table-head-cell {
  width: 100%;
  text-align: center;
  justify-content: center;
  border-radius: 20px 20px 0 0;
}
.table-head-image {
  width: 100%;
  height: 100%;
  padding: 20px 0 0 0;
}

.table-head-image > img {
  width: 100%;
  height: calc(100% - 20px);
}
.open {
  font-weight: 800;
  color: #ffffff;
}
.open.stage1 {
  background-color: #e70014;
}
.open.stage2 {
  background-color: #1b208c;
}
.open.stage3 {
  background-color: #006931;
}
.open.stage4 {
  background-color: #ffef01;
}
.open.stage5 {
  background-color: #822f93;
}
.table-head-cell.stage1 {
  background-color: #e70014;
}
.table-head-cell.stage2 {
  background-color: #1b208c;
}
.table-head-cell.stage3 {
  background-color: #006931;
}
.table-head-cell.stage4 {
  background-color: #ffef01;
}
.table-head-cell.stage5 {
  background-color: #822f93;
}
.table-head-cell.tent1 {
  background-color: #f1fec8;
}
.table-head-cell.tent2 {
  background-color: #fe9e9f;
}
.table-cell {
  width: 100%;
  height: 40px;
  background-color: transparent;
  position: relative;
  .time-left {
    position: absolute;
    top: -10px;
    left: -50px;
  }
  .time-right {
    position: absolute;
    top: -10px;
    right: -50px;
  }
}
.table-cell > .time-left {
  position: absolute;
  top: -10px;
  left: -50px;
}
.table-cell > .time-right {
  position: absolute;
  top: -10px;
  right: -50px;
}
.table-cell.border-nomal {
  border-top: solid 1px #ffffff;
  box-sizing: border-box;
}
.table-cell.border-bold {
  border-top: solid 3px #ffffff;
  box-sizing: border-box;
}
.content-cell {
  position: absolute;
  left: 0;
  display: block;
  text-align: center;
  padding: 5px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid #e14040;
  box-sizing: border-box;
  cursor: pointer;
}
.content-cell > .time-string {
  color: #e14040;
  font-weight: 600;
  text-align: start;
  font-size: small;
  white-space: nowrap;
}
.content-cell > .artist-name {
  color: #626262;
  font-weight: 600;
  font-size: small;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-height: 1.1;
}
.content-cell.stage1 {
  background-color: #fed3c3;
}
.content-cell.stage2 {
  background-color: #d0ebff;
}
.content-cell.stage3 {
  background-color: #c6ffdf;
}
.content-cell.stage4 {
  background-color: #faffc5;
}
.content-cell.stage5 {
  background-color: #f2e4fe;
}
.content-cell.tent1 {
  background-color: #f1fec8;
}
.content-cell.tent2 {
  background-color: #fe9e9f;
}
.content-cell:hover {
  background-color: #e14040;
  border: 1px solid #ffffff;
}
.content-cell:hover > .time-string {
  color: #ffffff;
  font-size: small;
}
.content-cell:hover > .artist-name {
  color: #ffffff;
}
.content-cell.active {
  background-color: #e14040;
  border: 1px solid #ffffff;
}
.content-cell.active > .time-string {
  color: #ffffff;
  font-size: small;
}
.content-cell.active > .artist-name {
  color: #ffffff;
}
.stage1 {
  background-color: #ffa38a;
}
.stage2 {
  background-color: #a2d6fe;
}
.stage3 {
  background-color: #8bffc0;
}
.stage4 {
  background-color: #f1ff8d;
}
.stage5 {
  background-color: #e5c8ff;
}
.tent1 {
  background-color: #ffe09f;
}
.tent2 {
  background-color: #ffd9b4;
}
@media (min-width: 992px) {
  .table-base {
    min-width: 100px;
  }
}
@media (max-width: 992px) {
  .table-base {
    min-width: 200px;
  }
}
@media (max-width: 500px) {
  .table-base {
    min-width: 49%;
  }
}
.mt-10 {
  margin-top: 10px;
}
