.news-detail > .date {
  padding: 20px 0 5px 0;
  font-weight: 500;
}
.news-detail > .news-title {
  padding: 0 5px;
  border-bottom: 2px solid #e14040;
  font-weight: 900;
  font-size: 2rem;
}
.news-detail > .context {
  padding: 10px;
}
