.marker-yellow {
  background-color: #fffd83;
}
.marker-blue {
  background-color: #a6d3ff;
}
.marker-pink {
  background-color: #fdbdfa;
}
.marker-green {
  background-color: #97ffac;
}
.marker-orange {
  background-color: #ffb672;
}