.home {
  position: relative;
  .top-view {
    width: 100%;
    height: auto;
    position: relative;
    img {
      width: 100%;
    }
    video {
      width: 100%;
    }
    .home-outline {
      font-size: 2rem;
      width: 100%;
      background-color: #ffffff;
      margin: 0 0 10px 0;
      text-align: center;
      padding: 20px 0 0 0;
      .day-svg {
        max-width: 60%;
      }
    }
  }
  .home-news {
    .content {
      padding: 5px;
      background-color: #ffffff;
      margin: 0 10px 10px 10px;
      border-radius: 5px;
      border: solid 1px #e14040;
      box-shadow: 2px 2px 0 0 #e14040;
      a {
        text-decoration: none;
      }
      .release-date {
        font-weight: 600;
        color: #e14040;
      }
      .news-title {
        padding-left: 20px;
        font-weight: 400;
        color: #e14040;
      }
    }
    .news-link {
      text-align: center;
      width: 100%;
      a {
        text-decoration: none;
      }
    }
  }
  .home-about {
    .about-box {
      width: 100%;
      border-radius: 5px;
      box-shadow: 0 0 12px 4px #b6b6b6;
      overflow: hidden;
      position: relative;
      img {
        width: 100%;
      }
      .logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: 100%;
      }
    }
  }
  .home-ticket {
    .ticket-view {
      height: 80px;
      padding: 20px;
      background-color: #ffffff;
      margin: 10px;
      border-radius: 10px;
      vertical-align: middle;
      position: relative;
      .ticket-content {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
      }
    }
  }
  .twitter-timeline {
    .timeline-area {
      height: 800px;
      overflow: scroll;
      margin-bottom: 20px;
    }
  }
  .ticket-circle-btn {
    z-index: 999;
    position: fixed;
    right: 30px;
    bottom: 30px;
    border: solid 5px #f72494;
    transition-duration: .4s;
    animation: anime1 0.5s ease 0s infinite alternate;
    .ticket-icon {
      width: 50%;
      height: 50%;
      color: #f72494;
    }
    .ticket-fs {
      font-size: small;
      color: #f72494;
    }
  }
  .ticket-circle-btn:hover {
    transform: scale(1.1);
  }
  .content-list {
    width: 100%;
    background-color: #000000;
    margin: 20px 0;
    padding: 40px 0;
    text-align: center;
    .list-item {
      width: 100%;
      color: #ffffff;
      font-weight: 600;
      text-shadow: #000000 3px 0px 0px, #000000 2.83487px 0.981584px 0px, #000000 2.35766px 1.85511px 0px, #000000 1.62091px 2.52441px 0px, #000000 0.705713px 2.91581px 0px, #000000 -0.287171px 2.98622px 0px, #000000 -1.24844px 2.72789px 0px, #000000 -2.07227px 2.16926px 0px, #000000 -2.66798px 1.37182px 0px, #000000 -2.96998px 0.42336px 0px, #000000 -2.94502px -0.571704px 0px, #000000 -2.59586px -1.50383px 0px, #000000 -1.96093px -2.27041px 0px, #000000 -1.11013px -2.78704px 0px, #000000 -0.137119px -2.99686px 0px, #000000 0.850987px -2.87677px 0px, #000000 1.74541px -2.43999px 0px, #000000 2.44769px -1.73459px 0px, #000000 2.88051px -0.838247px 0px;
      font-size: 2rem;
    }
    .svg {
      color: #000000;
      margin-right: 5px;
      svg {
        transform: translateY(5px);
      }
    }
  }
}
.intro-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  padding: 2em;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 1em;
  transform: translate(-50%, -50%);
  outline: transparent;
  overflow: scroll;
}
.intro-view {
  background-color: #000000;
  position: relative;
  .intro-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #ffffff;
    img {
      width: 100%;
    }
    .anv-logo {
      text-align: center;
      font-weight: bold;
      text-shadow: 5px 5px 16px #ffffff;
      .logo-10 {
        font-size: 35vw;
        .th {
          font-size: 15vw;
        }
      }
      .aniv {
        font-size: 10vw;
        transform: translateY(-10px);
      }
    }
  }
}

@keyframes anime1 {
  from {
    transform: scale(0.9,0.9);
  }
  to {
    transform: scale(1,1);
  }
}
